name: Generate contact list

on:
    schedule:
        - cron: "0 15 * * *"

    workflow_dispatch:

env:
    GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}

jobs:
    update:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4

            - name: Run the script
              run: bash script.sh

            - name: Generate md5sum
              run: |
                 cd databases
                 md5sum * > md5sum.txt

            - name: Upload files
              uses: actions/upload-artifact@v4
              with:
                  path: databases

            - name: Update release
              run: |
                set -e
                TODAY=$(date +"%Y%m%d")
                
                echo "Publish ${TODAY} relese"
                gh release create ${TODAY}
                gh release upload ${TODAY} databases/* --clobber

            - uses: dev-drprasad/delete-older-releases@v0.3.4
              with:
                repo: walczakkamil/dmr_users
                keep_latest: 3
                keep_min_download_counts: 1 # Optional parameters
                delete_expired_data: 10 # Optional parameters
              env:
                GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
